div {
	outline-style: solid;
}

.header {
	display : flex;
	background : grey;
	text-align : center;
	justify-content: center;
	align-items : center;
}

.frame {
	display : grid;
	grid-column-gap : 1px;
	grid-row-gap : 1px;
	grid-template-columns : repeat(8, 1fr);
	grid-template-rows : repeat(25, 50px);
}
